*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto","sans-serif";
    margin: 0;
    
}

.img-topo{
   
    height:300px; /*Opitei pela porcentagem para ficar mais responsivo a img*/
    width: 90%; /*Mexendo a largura da foto*/
    margin-left: 65px;
    margin-top: 69px;
    margin-bottom: 30px;
    object-fit: cover; /*Para minha img não quebra*/  
 }
 




.cor-text{
    color: red;
}
p{
   
    /*Espacamento entre as letras*/
     margin-top:15px;
     margin-bottom: 15px;
    
     
 }
 .primeiro-container p{
    margin-left: 65px;
    margin-right: 65px;
}
.primeiro-container h1,h4,h3{
    margin-left: 65px;
    margin-right: 66px;
    
}
.primeiro-container h1{
    margin-bottom: 15px;
}

.container-conteudo{
    /*Dando um espaço entre as linhas finais para não 
    ficar colado do "rodapé"*/
    margin-bottom: 50px;
    width: 90%; /*Mexendo a largura da foto*/
}
.subtitle-idex4{
    margin-bottom: 10px;
}










